.Procedure {
  background-image: url("../assets/images/procedure_background.png");
  background-repeat: "no-repeat";
  background-size: "cover";
  background-position: "center center";
  background-attachment: "fixed";
  text-align: center;
  color: #fff;
}

.Procedure .Procedure_Header {
  margin-bottom: 80px;
}

.Procedure .Procedure_Header h2 {
  color: #d1d2d3;
  font-size: 3.33rem;
}

.Procedure .Procedure_Header h3 {
  /* color: #fff; */
  font-size: 2rem;
}

.Procedure h4 {
  font-size: 1.7rem;
  margin-top: 30px;
}

.Procedure p {
  font-size: 0.88rem;
  color: #7b7d88;
  margin-top: 15px;
}

.Procedure button {
  color: #000;
  background-color: #ffd800;
}
